.properties {
  //display: none;
  padding: $space-16 $space-24 $space-4  0;
  .gt-xs & {
    padding: $space-48 $space-72 $space-4  0;
  }
  .gt-md & {
    padding: $space-48 $space-160 $space-4 $space-160;
  }
  background-color: #fff;
  height: 400px;
}

.properties__item-image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.properties__item-content {
  padding: $space-24;
}

.properties__item-title {
  @include typography__default-plus-2($font-weight: 300);
  margin-bottom: $space-24;
  color: #43484D;
}

.properties__item-description {
  @include typography__default-minus-1();
  margin-bottom: $space-24;
  color: #86939E;
  white-space: initial;
  word-wrap: normal;
  .xs & {
    padding-right: $space-64;
  }
  .gt-xs & {
    max-width: 200px;
  }
  .gt-sm & {
    max-width: 350px;
  }
}

// shame.css
.sm .properties .carousel-arrow-left .md-button,
.xs .properties .carousel-arrow-left .md-button{
  padding-right: 60px;
}

.properties__carousel-controls {
  margin: auto;
  text-align: center;
}
.properties__carousel-arrow {
  display: inline-block;
  button:hover {
    background: none !important;
  }
}

.properties__carousel-container {
  position: relative;
}

.properties__carousel-item {
  margin-top: 70px;
  position: absolute;
  left: 5%;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.properties__carousel-item--showing {
  opacity: 1;
  z-index: 2;
}

//.properties__carousel-arrow--left {
//  left: 0;
//}
//
//.properties__carousel-arrow--right {
//  right: 0;
//}

.properties__carousel-dots {
  margin-top: $space-24;
  margin-bottom: $space-48;
}

.properties__carousel-dot {
  padding: $space-8;
}

.properties__item-link {
  @include typography__default($font-weight: 500);
  color: #358ED7 !important;
  text-decoration: none;
}

.properties__carousel-active {
  color: #358ED7;
}


.properties__text1 {
  @include typography__default-plus-4($font-weight: 300);
  color: #43484D;
  margin-bottom: $space-32;
  text-align: center;
}

.properties__text2 {
  @include typography__default-plus-1(  $font-weight: 300);
  color: #5E6977;
  margin-bottom: $space-32;
  text-align: center;
}
