<div class="intro" layout="column">
  <div class="intro__text1">
    Discover unique accommodations around the world
  </div>
  <div class="intro__text2">
    Residential and commercial properties for rent, for sale, real estate news, mortgage advice, buying and selling guides.
  </div>

  <div>
    <img class="intro__image"
         sizes="90vw"
         srcset="https://ramyelashri.github.io/pfinder/images/intro__image@0.5x.png 570w,
              https://ramyelashri.github.io/pfinder/images/intro__image@2x.png 2280w"
         src="https://ramyelashri.github.io/pfinder/images/intro__image@1x.png" />
  </div>

</div>
