/***********************
 Spaces:
 strictly used for all margins and paddings
 ***********************/
$space-0: 0;
$space-4: rem-calc(4px);
$space-8: rem-calc(8px);
$space-16: rem-calc(16px);
$space-24: rem-calc(24px);
$space-32: rem-calc(32px);
$space-48: rem-calc(48px);
$space-56: rem-calc(56px);
$space-64: rem-calc(64px);
$space-72: rem-calc(72px);
$space-80: rem-calc(80px);
$space-88: rem-calc(88px);
$space-96: rem-calc(96px);
$space-104: rem-calc(104px);
$space-112: rem-calc(112px);
$space-120: rem-calc(120px);
$space-128: rem-calc(128px);
$space-136: rem-calc(136px);
$space-144: rem-calc(144px);
$space-152: rem-calc(152px);
$space-160: rem-calc(160px);
$space-168: rem-calc(168px);
$space-176: rem-calc(176px);
$space-184: rem-calc(184px);
$space-192: rem-calc(192px);
